._card {
  overflow: hidden;
  max-height: 400px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}
._card:hover {
  cursor: pointer;
}
._body {
  background: #333;
  color: white;
  z-index: 1;
  height: 100px;
}
._bar {
  width: 100%;
  height: 4px;
  background: #dc3545;
}
.img {
  transform: scale(1);
  overflow: hidden;
  z-index: -1;
  transition: all 1s linear;
}
._card:hover ._img {
  transform: scale(1.1);
}
._card:hover ._body {
  background: #dc3545;
  color: white;
}

._card:hover .title {
  text-decoration: underline;
}

@media (max-width: 480px) {
  ._card {
    width: 200px;
  }
}
