@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700,700i");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

._title {
  height: 50vh;
  background: #333;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  margin-bottom: 100px;
}

._title::after {
  content: "";
  position: absolute;
  top: 40vh;
  left: -10px;
  width: 105vw;
  height: 100px;
  background: #333;
  z-index: -1;
  transform: rotate(-3deg);
}

._title .image {
  width: 80%;
  justify-self: end;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
}

._title .name {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  justify-self: start;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 4;
}

@media (max-width: 480px) {
  ._title {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
  }
  ._title .image {
    width: 40%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    justify-self: center;
  }
  ._title .name {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
